<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container step step3">
  <div class="row">
    <div class="col-md-12">
      <div class="steps current-second">
        <div class="number number-1">1<small>st</small></div>
        <div class="number number-2">2<small>nd</small></div>
        <div class="number number-3">3<small>rd</small></div>
        <div class="number number-4">4<small>th</small></div>
        <div class="number number-5">5<small>th</small></div>
      </div>
     </div>
   </div>
   <div class="row">
   
    <div class="col-md-12">
      <div class="loader" ng-class="{'hide': currentStatus == 'run-completed','show': currentStatus != 'run-completed'}" >
        <div class="point">
        <!--svg  width="96" height="96">
         <circle cx="48" cy="48" r="42" fill="transparent" stroke="blue" stroke-width="4"   />
        </svg-->
          processing
        </div>
      </div>


    	<div class="result-blocks" ng-class="{'show': currentStatus == 'run-completed','hide': currentStatus != 'run-completed'}" >
    		
      <div class="header-controls">
          <div class="col-md-8">

      <div class="result-share">
        <span>Share this result:</span>
         <div class="share-btns">
          <a class="btn btn-facebook" href="" >
            <i class="fa fa-facebook"></i> 
          </a>
          <a class="btn btn-google-plus" href="" >
            <i class="fa fa-google-plus"></i> 
          </a>
          <a class="btn btn-twitter" href="">
            <i class="fa fa-twitter"></i> 
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <form>
        <div class="form-group">
          <input ng-show="!isUserLoggedIn() && isMyTestOrCanIOwnThisTest()  && !isTestConfigured()" type="submit" class="btn btn-block btn-primary" value="Login / SignUp to Configure" ng-click="gotoStep4()"/>
          <input ng-show="isUserLoggedIn() && isMyTestOrCanIOwnThisTest() && !isTestConfigured() " type="submit" class="btn btn-block btn-primary" value="Configure your Notifications" ng-click="gotoStep4()"/>
        </div>
      </form>
    </div>
  </div>

<div class="break"></div>

    		<div class="result-block pagespeed">
    			<h3>Google PageSpeed Results</h3>

          <div id="speed-graph" class="col-md-12" ng-hide="test.opts.pagegroup == 'home'">
           <ul  >
            <li ng-repeat="page in pagesResult" ng-style="{width: {{100/pagesResult.length}} + '%'}" ng-class="{'current': page._id == currentPage._id }">
              <a href="javascript:;" ng-click="changeCurrent();">
                <span class="title">{{page.title}}</span>
                <span class="score score-desktop" ng-style="{ height: {{page.results.desktop}} +'%' }" ></span>
                <span class="score score-mobile" ng-style="{ height: {{page.results.mobile}} +'%' }"></span>
                <span class="legend"><em class="desktop">{{page.results.desktop}}</em> / <em class="mobile">{{page.results.mobile}}</em></span>
                </a>
            </li>
           </ul>
          </div>

    			<div class="col-md-12">
    				
    				<h4>{{currentPage.title}}</h4>
            <form>
            <div class="form-group">
              <select name="pagelist" ng-model="currentPage"  ng-change="changePage(page)"  class="form-control" id="pages" 
              ng-options="page as page.url for page in test.crawl.pages"
              >
              </select>
            </div>
           </form>
            <div class="row">
              <div class="col-md-6 pagespeed-side">
                <h5>Desktop</h5>
                <div class="score"> {{currentPageResults.desktop.score}} <small>Score</small></div>
                
                <h5><small>Improve your score by:</small></h5>
                <div class="list-group">
                <div  ng-repeat="(key, result) in currentPageResults.desktop.formattedResults.ruleResults">
                    <div ng-if="result.ruleImpact > 0.2" class="list-group-item">
                      <h6 class="list-group-item-heading">
                      <big>{{result.ruleImpact | kindofround}}</big>
                      <a href="javascript:;" ng-click="openRule(this)">{{result.localizedRuleName}}<br /> <span class="impact">Doign this will have an impact of <strong>{{result.ruleImpact | kindofround}}</strong></span></a></h6>
                      <ul class="list-group hide" ng-class="{'': result.expanded, 'hide': !result.expanded}">
                        <li class="list-group-item" ng-repeat="block in result.urlBlocks">
                          <div class="list-group-item-header">

                          <a ng-if="block.urls.length > 0 " href="javascript:;" ng-click="openBlock(this)">  {{block.header.format | formatps:block.header.args}}</a>

                          <span ng-if="!block.urls.length">{{block.header.format | formatps:block.header.args}}</span>
                          </div>


                          <ul ng-if="block.urls.length" ng-class="{'': block.expanded, 'hide': !block.expanded}">
                            <li ng-repeat="r in block.urls">
                              {{ r.result.format | formatps:r.result.args }}
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <ul class="stats list-group">
                  <li class="list-group-item">CSS: <strong>{{currentPageResults.desktop.pageStats.numberCssResources}}</strong> files, <strong>{{currentPageResults.desktop.pageStats.cssResponseBytes}}</strong> bytes  </li>
                  <li class="list-group-item">JavaScript: <strong>{{currentPageResults.desktop.pageStats.numberJsResources}}</strong> files, <strong>{{currentPageResults.desktop.pageStats.javascriptResponseBytes}}</strong> bytes  </li>
                  <li class="list-group-item">Images: <strong>{{currentPageResults.desktop.pageStats.imageResponseBytes}}</strong> bytes  </li>
                </ul>
              </div>
              <div class="col-md-6  pagespeed-side">
                <h5>Mobile</h5>
                <div class="score">{{currentPageResults.mobile.score}}<small>Score</small></div>
                <h5><small>Improve your score by:</small></h5>
                <div class="list-group">
                  <div  ng-repeat="(key, result) in currentPageResults.mobile.formattedResults.ruleResults | orderBy:'-result.ruleImpact'">
                     <div ng-if="result.ruleImpact > 0.2" class="list-group-item">
                      <h6 class="list-group-item-heading">
                      <big> {{result.ruleImpact | kindofround}}</big>
                      <a href="javascript:;" ng-click="openRule(this)">{{result.localizedRuleName}}<br /> <span class="impact">Doign this will have an impact of <strong>{{result.ruleImpact | kindofround}}</strong></span></a></h6>
                      <ul class="list-group hide" ng-class="{'': result.expanded, 'hide': !result.expanded}">
                        <li class="list-group-item" ng-repeat="block in result.urlBlocks">
                          <div class="list-group-item-header">

                          <a ng-if="block.urls.length > 0 " href="javascript:;" ng-click="openBlock(this)">  {{block.header.format | formatps:block.header.args}}</a>

                          <span ng-if="!block.urls.length">{{block.header.format | formatps:block.header.args}}</span>
                          </div>


                          <ul ng-if="block.urls.length" ng-class="{'': block.expanded, 'hide': !block.expanded}">
                            <li ng-repeat="r in block.urls">
                              {{ r.result.format | formatps:r.result.args }}
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                   

                  </div>
                </div>
                
                 <ul class="stats list-group">
                  <li class="list-group-item">CSS: <strong>{{currentPageResults.mobile.pageStats.numberCssResources}}</strong> files, <strong>{{currentPageResults.mobile.pageStats.cssResponseBytes}}</strong> bytes  </li>
                  <li class="list-group-item">JavaScript: <strong>{{currentPageResults.mobile.pageStats.numberJsResources}}</strong> files, <strong>{{currentPageResults.mobile.pageStats.javascriptResponseBytes}}</strong> bytes  </li>
                  <li class="list-group-item">Images: <strong>{{currentPageResults.mobile.pageStats.imageResponseBytes}}</strong> bytes  </li>
                </ul>

              </div>
              </div>
            </div>
    			</div>
    			
      <div ng-show="isMyTestOrCanIOwnThisTest()" class="row nextstep">
        <div class="col-md-12">
          <h3>Now configure your test to get notifications on any <em>relevant</em> change.</h3>
        </div>
        <div class="col-md-6 col-md-offset-3">
          <form>
            <div class="form-group">
              <input ng-show="!isUserLoggedIn() && isMyTestOrCanIOwnThisTest() && !isTestConfigured()"  type="submit" class="btn  btn-lg btn-primary btn-block" value="Login / SignUp to Configure" ng-click="gotoStep4()"/>
              <input ng-show="isUserLoggedIn() && isMyTestOrCanIOwnThisTest()  && !isTestConfigured()"  type="submit" class="btn  btn-lg btn-primary btn-block" value="Configure your Notifications" ng-click="gotoStep4()"/>

            </div>
          </form>
        </div>
      </div>


    		</div>
    	</div>
 
    
   	</div>
   </div>
</div>