
.result-block{
		transition:all 0.5s;
	&.hidden{
		overflow:hidden;
		width:100%;
		height:0;
		
	}
	&.show{
		overflow:hidden;
		width:100%;
		height:auto;
	}
	&.pagespeed{
		h3{ text-align:center; }
		h4{  }
		h5{ text-align:center; }
		.pagespeed-side{
			.score{
				font-size:64px;
				text-align:center;
				line-height:64px;
				margin:0 0 20px 0;
				small{
					display:block;
					text-align:center;
					font-size:16px;
					line-height:16px;
					margin-top:-4px;
					color:#ccc;

				}
			}
			.list-group-item-heading{
				big{
					width:40px;
					float:left;
					display:block;
					font-size:22px;
					text-align:center;
					margin-right:6px;
					padding-top: 16px;
					color: rgb(88, 171, 86);
					font-weight:400;
					margin-left:-10px;


					i{
						font-weight: 700;
						margin-right: -5px;
						font-size: 22px;

					}
				}
				a{
					
					font-size:14px;
					display:block;
					overflow:hidden;
					padding: 12px 0px 16px;
					margin: -10px 0 -15px;
					.impact{
						font-size:10px;
						color:#ccc;
					}
					&:hover{
						text-decoration:none;
						.impact{
							color:#aaa;
						}
					}
				}
			}

			.list-group-item{
				ul{
					margin:0;
					padding:0;
					li{
						font-size: 12px;
						padding: 10px 10px;
								border-bottom: 1px solid #eee;
								list-style-type:none;
						
						ul{
							li{
								font-family: monospace;
								font-size:11px;
								padding: 6px 10px;
								color: #777;
								
							}
							li:last-child{ border:none; }
						}
					}

				}

			}
		}
	}
}
.nextstep{
	h3{text-align:center; margin:20px 0px; }
}

.loader{
	 &.hidden{
		overflow:hidden;
		width:100%;
		height:0;
	}
	&.show{
		overflow:hidden;
		width:100%;
		height:auto;
	}
	width:100%;
	height:96px;
	overflow:hidden;
		

	.point{
		width:96px;
		height:96px;
		border-radius: 50%;
		border:4px solid $brand-primary;
		margin:0 auto;
		line-height:90px;
		text-align:center;
		color:$brand-primary;
	}
}

.header-controls{
	overflow:hidden;
	margin:20px 0;
	.result-share{
		> span{
			display:block;
			float:left;
			margin-right:8px;
			line-height:30px;
		}
		.share-btns .btn{
			border-radius:50%;

			  padding: 0px;
			  width: 32px;
			  height: 32px;
			  line-height: 32px;
		}
	}
}

#speed-graph{
	height:100px;
	width:100%;
	
	float:left; 
	margin-bottom:30px;
	background:#fff;
	border-bottom:4px solid #eee;
	ul{
		padding:0;
		margin:0;
		li{
			&.current{
				.score { background-color:rgba(0,0,0,0.3); }
				a:hover{
					.score { background-color:rgba(0,0,0,0.5); }
				}
			}
			display:inline-block;
			float:left;
			padding:0;
			margin:0;
			height:100px;
			
			position:relative;
			a{
				&:hover{
					.score{
						background-color:rgba(0,0,0,0.1);
					}
				}
				.title{
					display:none;
				}
				.score{
					position:absolute;
					bottom:0px; 
					width:40%;
					left:30%;
					background-color:rgba(0,0,0,0.05);
					text-align:center;
					border-top:3px solid;
					transition:all 0.25s;
					&.score-desktop{
						border-top-color:#aaa;
					}
					&.score-mobile{
						border-top-color:#000;
					}
				}
				.legend{
					position:absolute;
					width:100%;
					text-align:center;
					bottom:-20px;
					em{
						font-style:normal;
						&.desktop{
							color:#aaa;
						}
						&.mobile{
							color:#000;
						}
					}
				}
			}

		}
	}
}