$big-font: 'Playfair Display', serif;
$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";
$brand-primary:         #97C33C ;
$brand-info:            #97C33C ;
$brand-alt:             #5A794F;
$input-border-focus:    #97C33C ;

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';




/**
 * App-wide Styles
 */


.navbar-brand{
    font-family: Podkova,serif;
   
    font-weight: 700;
    font-size: 32px;
    letter-spacing: -0.1rem;
    color : #5A794F !important;

    em{
        font-style:normal;
        color:#97C33C  !important;
    }
    span{
        font-family:$big-font;
        font-weight: 400;
        line-height: 1em;
        font-size: 16px;
        letter-spacing: 0;
        text-transform: none;
        display:inline-block;
        color:#5A794F !important;
    }

}


.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

h1,h2,h3,h4,h5{
	font-family:$big-font ;
}
h2{
	font-size:36px;	
}
h3{
	font-size:30px;	
}
h4{
	font-size:24px;	
}

h5{
	font-size:21px;	
}

.navbar{
	font-family:$big-font;
	background-color:#fff;
}




.steps{
    width:64px;
    height: 64px;
    margin:12px auto;
    position: relative;
}
.current-first{
    .number-1{z-index:10; background-color:$brand-primary ;}
    .number-2{z-index:9; transform: rotate(8deg) scale(0.98) translate(8px); }
    .number-3{z-index:8; transform: rotate(-8deg) scale(0.96) translate(12px);}
    .number-4{z-index:7; transform: rotate(4deg) scale(0.94) translate(16px);}
    .number-5{z-index:6; transform: rotate(-6deg) scale(0.88) translate(14px);}
}
.current-first:hover{
    .number-1{ transform: scale(1.1);} 
    .number-2{ transform: scale(0.95)  translate(24px) rotate(3deg); }
    .number-3{ transform: scale(0.90) translate(48px)  rotate(-3deg); }
    .number-4{ transform: scale(0.85) translate(72px)  rotate(3deg); }
    .number-5{ transform: scale(0.80) translate(96px)  rotate(-3deg); }
}
.current-second{
    .number-1{ z-index:9; transform: rotate(-4deg) scale(0.93) translate(-53px);background-color: $brand-alt; }
    .number-2{z-index:10; background-color:$brand-primary;  }
    .number-3{z-index:8; transform: rotate(-8deg) scale(0.96) translate(12px);}
    .number-4{z-index:7; transform: rotate(4deg) scale(0.94) translate(16px);}
    .number-5{z-index:6; transform: rotate(-6deg) scale(0.88) translate(14px);}
}
.current-second:hover{
    .number-1{ transform: scale(0.93)  translate(-58px) rotate(-4deg); } 
    .number-2{ transform: scale(1.1); }
    .number-3{ transform: scale(0.90) translate(24px)  rotate(-3deg); }
    .number-4{ transform: scale(0.85) translate(48px)  rotate(3deg); }
    .number-5{ transform: scale(0.80) translate(72px)  rotate(-3deg); }
}
.current-third{
    .number-1{ z-index:8; transform: rotate(-1deg) scale(0.88) translate(-103px);background-color: $brand-alt; }
    .number-2{ z-index:9; transform: rotate(-4deg) scale(0.93) translate(-53px);background-color: $brand-alt; }
    .number-3{z-index:10; background-color:$brand-primary; }
    .number-4{z-index:7; transform: rotate(4deg) scale(0.94) translate(16px);}
    .number-5{z-index:6; transform: rotate(-6deg) scale(0.88) translate(14px);}
}
.current-third:hover{
    .number-1{ transform: rotate(-1deg) scale(0.88) translate(-113px); } 
    .number-2{ transform: scale(0.93)  translate(-58px) rotate(-4deg); } 
    .number-3{ transform: scale(1.1); }
    .number-4{ transform: scale(0.85) translate(48px)  rotate(3deg); }
    .number-5{ transform: scale(0.80) translate(72px)  rotate(-3deg); }
}
.current-fourth{
    .number-1{ z-index:8; transform: rotate(-1deg) scale(0.88) translate(-103px);background-color: $brand-alt; }
    .number-2{ z-index:9; transform: rotate(-4deg) scale(0.93) translate(-53px);background-color: $brand-alt; }
    .number-4{z-index:10; background-color:$brand-primary; }
    .number-3{z-index:7; transform: rotate(4deg) scale(0.94) translate(16px);}
    .number-5{z-index:6; transform: rotate(-6deg) scale(0.88) translate(14px);}
}
.current-fourth:hover{
    .number-1{ transform: rotate(-1deg) scale(0.88) translate(-113px); } 
    .number-2{ transform: scale(0.93)  translate(-58px) rotate(-4deg); } 
    .number-4{ transform: scale(1.1); }
    .number-3{ transform: scale(0.85) translate(48px)  rotate(3deg); }
}
.number{
    position: absolute;
    top:0px;

    color:#fff;
    background-color:$brand-alt;
    width:64px;
    height:64px;
    padding:0;
    font-size:60px;
    line-height:48px;
    font-family:$big-font;
    text-align:center;
    border-radius:50%;
    box-shadow:3px 3px 4px rgba(0,0,0,0.1);

    transition:all 0.25s;
    -webkit-transition-timing-function: cubic-bezier(0.25,0.25,0.325,1.39);
    transition-timing-function: cubic-bezier(0.25,0.25,0.325,1.39);
       cursor:default;  
    small{
        font-size: 10px;
        vertical-align: super;
        margin-left: -2px;
        cusor:default;
    }
}


.ng-hide {
  /* this is just another form of hiding an element */
  display: block!important;
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.ng-hide-add, .my-element.ng-hide-remove {
  transition: 0.5s linear all;
}

.my-element.ng-hide-add {  }
.my-element.ng-hide-add.ng-hide-add-active {  }
.my-element.ng-hide-remove {  }
.my-element.ng-hide-remove.ng-hide-remove-active {  }



// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'configure/configure.scss';
@import 'main/main.scss';
@import 'own/own.scss';
@import 'results/results.scss';
@import 'modal/modal.scss';
// endinjector