<div ng-include="'components/navbar/navbar.html'"></div>
<div class="allopts">
<div class="inopts for-optype" style="display:none;">
  <div class="options">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <a href="javascript:;" class="option option-a option-selected " ng-class="{'selected': test.opts.pagegroup === 'website' }" ng-click="changeOption('optype','website')">
            <h3>Website</h3>
            <p>Test your website, up to 10 pages in this free version</p>
          </a>
        </div>
        <div class="col-md-4">
          <a href="javascript:;" class="option option-b " ng-class="{'selected': test.opts.pagegroup === 'home' }" ng-click="changeOption('optype','home')">
            <h3>Home</h3>
            <p>You can also just test your homepage, but remember that is always better to think your site as a whole.</p>
          </a>
        </div>
        <div class="col-md-4">
          <a href="javascript:;" class="option option-c option-soon " ng-class="{'selected': test.opts.pagegroup === 'full' }"  ng-click="changeOption('optype','full',true)">
            <h3>Full Website</h3>
            <p>Test your website, up to 100 pages, you can also choose wich urls to test manually</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="inopts for-opperiod" style="display:none;">
              <div class="options">
              <div class="container">
      <div class="row">
       <div class="col-md-4">
                <a href="javascript:;" class="option option-a option-selected" ng-class="{'selected': test.opts.period === 'weekly' }"  ng-click="changeOption('opperiod','weekly')">
                  <h3>Weekly</h3>
                  <p>If your site does not change that regulary you can always check this options, just to be sure</p>
                </a>
                </div>
                 <div class="col-md-4">
                <a href="javascript:;" class="option option-b " ng-class="{'selected': test.opts.period === 'daily' }"  ng-click="changeOption('opperiod','daily')">
                  <h3>Daily</h3>
                  <p>For a website that is constantly changing</p>
                </a>
                </div>
                 <div class="col-md-4">
                <a href="javascript:;" class="option option-c option-soon"  ng-class="{'selected': test.opts.period === 'demmand' }"  ng-click="changeOption('opperiod','demmand',true)">
                  <h3>On Demmand</h3>
                  <p>Check your website anytime you commit to GitHub or BitBucket</p>
                </a>
                </div>
              </div>
                 </div>
  </div>
            </div>
<div class="inopts for-opnotification" style="display:none;">
              <div class="options">
                  <div class="container">
      <div class="row">
                <div class="col-md-4">
                  <a href="javascript:;" class="option option-a option-selected"  ng-class="{'selected': test.opts.notification === 'email' }"   ng-click="changeOption('opnotification','email')">
                    <h3>Email</h3>
                    <p>Check this if you want to get an email as notification</p>
                  </a>
                </div>
                 <div class="col-md-4">
                  <a href="javascript:;" class="option option-b option-soon"  ng-class="{'selected': test.opts.notification === 'sms' }"  ng-click="changeOption('opnotification','sms',true)">
                    <h3>SMS</h3>
                    <p>Check here if you want to get a short message as notifications</p>
                  </a>
                </div>
                <div class="col-md-4">
                  <a href="javascript:;" class="option option-c option-soon"   ng-class="{'selected': test.opts.notification === 'mobile' }"   ng-click="changeOption('opnotification','mobile',true)">
                    <h3>Mobile</h3>
                    <p>Soon you will be able to configure and get notifications directly from your mobile phone</p>
                  </a>
                </div>
              </div>
                               </div>
  </div>
            </div>
</div>
<header class="" id="banner">
  <div class="container">
    <!--img src="assets/images/yeoman.png" alt="I'm Yeoman"-->
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2>Test your 

            <a href="javascript:;" class="optype" ng-click="showOptions('optype');">{{test.opts.pagegroup | nameoption:'type'}}</a>
            <a href="javascript:;" class="opperiod"  ng-click="showOptions('opperiod');">{{test.opts.period | nameoption:'period'}}</a>
             and get  an automatic <a href="javascript:;" class="opnotification"  ng-click="showOptions('opnotification');">{{test.opts.notification | nameoption:'notification'}}</a>
            notifying any change.</h2>
        </div>
        <div class="col-md-8 col-md-offset-2">
          <h3>In just <strong>5</strong> simple steps </h3>
        </div>
      </div> 
      <div class="row">
        <form name="" id="create" class="col-md-6 col-md-offset-3" ng-sumbit="doStep1()">
          <div class="steps current-first">
            <div class="number number-1">1<small>st</small></div>
            <div class="number number-2">2<small>nd</small></div>
            <div class="number number-3">3<small>rd</small></div>
            <div class="number number-4">4<small>th</small></div>
            <div class="number number-5">5<small>th</small></div>
          </div>
          <h5>Enter your website url:</h5>
          <div class="strong-group row">
             <div class="row">
                <div class="col-md-12">
                  <input id="urlfield" type="text" class="form-control input-lg text-center " ng-class="{'loading': test.loading ,'error': errorcall !='' }" placeholder="www.yoursite.com" ng-model="test.url" value="" ng-change="errorcall = '';"/>
                  <p class="text-danger text-center">{{errorcall}}</p>
                </div>
                <div class="col-md-12">
                  <input class="btn btn-primary  input-lg col-md-12 " type="submit" ng-click="doStep1()" value="Validate and continue" />
                </div>
              </div> 
          </div>
        </form>
      </div>
      <div class="row">
          <div class="checked-for col-md-6 col-md-offset-3">
              <div class="row">
                <h4>  Current checks:</h4>
                <div class="col-xs-6 col-md-3">
                  <span class="thumbnail">
                    <input type="checkbox" name="pagespeed" disabled="disabled" checked="checked" value="1" readonly   />
                    Google<br /> PageSpeed
                  </span>
                </div>
                <div class="col-xs-6 col-md-3 soon">
                  <span class="thumbnail">
                    <input type="checkbox" name="html" class="disabled"  disabled="disabled" value="1" readonly="tue"  />
                    HTML<br /> Validation
                    <em>Soon</em>
                  </span>
                </div>

                <div class="col-xs-6 col-md-3 soon">
                  <span class="thumbnail">
                    <input type="checkbox" name="css" class="disabled"  disabled="disabled" value="1" readonly="tue"  />
                    CSS<br /> Validation
                    <em>Soon</em>
                  </span>
                </div>

                 <div class="col-xs-6 col-md-3 soon">
                  <span class="thumbnail">
                    <input type="checkbox" name="best" class="disabled"  disabled="disabled" value="1" readonly="tue"  />
                    Best<br /> Practices
                    <em>Soon</em>
                  </span>
            </div>
          </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  
</div> 

