.thing-form {
    margin: 20px 0;
}

#banner {
    background-color: #FDFDFD; 
    border-bottom: none;
    margin-top: -20px;

    padding-top: 40px;
    padding-bottom: 40px;

    h2,h3,h4,h5{
        text-align:center;
    }
    h2{
       
        margin-bottom: 0px;
        text-transform: uppercase;
        font-family: Podkova,serif;
        word-spacing: 0em;
        letter-spacing: -0.25rem;
        font-size: 48px;
        color:#97C33C;
        
        a{
            &::before{
                height:0em;
                content:" ";
                display:block;
                width:100%;
                background:#5A794F;
                bottom:0px;
                left:0px;
                position:absolute;
                transition:all 0.25s;
                
                z-index:-1;
            }
            position:relative;
            color:#5A794F;
            display:inline-block;
            border-bottom:1px solid #5A794F;
            text-decoration:none;
            font-weight:700;
            transition:all 0.25s;
            z-index:5;
            padding:3px 4px ; 

            &:hover{
                text-decoration:none;
                color:#fff;

                &::before{
                    height:1.1em;
                }
            }
        }
    }
    h3{
        margin-top: 36px;
        color:#777;
    }

    h5{
        margin-top: 24px;
        margin-bottom: 36px;
        
    }
    form#create{
        margin-top: 0px;
        margin-bottom: 24px;


      

        .btn-primary{
            margin-top: 0px;
        }
    }


    .checked-for{

        h4{
            margin: 12px 0 24px;
        }
      
        .thumbnail{

            font-family: $big-font;

            position: relative;
            text-align: center;
            color:#777;
            background-color: #fff;
            border:none;
            border-top: 1px solid #777;
            border-bottom: 2px solid #000;
            vertical-align: middle;
            padding: 24px 0px;
            min-height: 6em;
            border-radius: 0;
            em{
                position: absolute;
                bottom: 0px;
                right: 0px;
                font-style: normal;
                padding: 4px 8px;
                
                font-size: 10px;
                color:#444;
            }
        }


        .soon{
            .thumbnail{
                border-color: #777;
                color:#ccc;
            }
        } 

    }

    
}
.allopts{
    position:absolute;
    top:0px;
    height:0px;
    z-index:1001;
    
    .inopts{
        padding:3px 4px; 
        width:0;
        height:0;
        position:absolute;
        z-index:1002;       
        overflow:hidden;
        .options{
            position:relative;
            top: 50%;
            margin-top: -150px;
            opacity:0;
            -webkit-transition-property:all;
            -webkit-transition-duration:0.25s;
            .option{

                &.option-soon{
                    background:#fff;
                    cursor:default;
                    &:after{
                        content: "Soon";
                        position:absolute;
                        bottom:15px;
                        right:-29px;
                        background:$brand-primary;
                        width:120px;
                        text-align:center;
                        font-family:Podkova;
                        font-size:20px;
                        line-height:30px;
                        font-weight:700;
                        
                        transform:rotateZ(-45deg);
                        color: rgba(255,255,255, 0.8);
                        text-shadow: -1px -1px 2px rgba(0,0,0,0.2),1px 1px 2px rgba(0,0,0,0.1);
                        box-shadow:  -1px -1px 2px rgba(0,0,0,0.2), inset 1px 1px 2px rgba(0,0,0,0.1);

                    }
                }
                opacity:0;
                -webkit-transition-property:all;
                -webkit-transition-duration:0.25s;
                position:Relative;
                text-align:center;
                height:240px;
                padding:60px 20px;
                background:#aaa;
                margin:0 10px;
                display:block;
                overflow:hidden;
                h3{
                    margin:0 0 0px 0;
                    height:auto;
                    font-family:Podkova;
                    font-size:48px;
                }
                p{
                    font-family:$big-font;
                }
                &:hover{
                    background:#eee;
                     h3{
                        color:$brand-primary;
                    }
                }
                &.selected{
                    background:#fff;
                    h3{
                        color:$brand-primary;
                    }
                }

               
            }
            a{
                color:#333;
                text-decoration:none;
            }

        }
        &.active{
            background-color:#5A794F;
        }
        &.current{
            
            
            .options{
                opacity:1;
               
    
                transition-duration:0s;
                .option{
                 
                    transition-duration:0s;
                    opacity:1;

                }
                
            }
           

        }
    }
}

#banner #urlfield.loading{
    background-repeat:no-repeat;
    background-position:98% center;
    background-image:url('/assets/images/loading.gif');
}
#banner #urlfield.error{
    border-color:red;
    &:focus{
        box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
    }
}
#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}