.step{
	&.step2{
		padding-top: 0px;
	    padding-bottom: 40px;
		h3{
			text-align:center;
			font-family:Podkova,serif;
			small{ font-family:$big-font; }
			strong{
				color:#333;
			}
			em{
				color:$brand-primary;
				font-style:normal;
			}
		}
		.why{
			line-height:1.4em;
			margin-top:32px;
			margin-bottom:32px;
			
			text-align:center;
			p{
				> strong{
					font-size:24px;
					font-family:Podkova,serif;
					margin-bottom:8px;
					display:block;
				}
				> big{
					font-size:24px;
					font-family:Podkova,serif;
					margin-bottom:16px;
					display:block;
				}
			}
		}
		.form-group{
			h4{
				margin:24px 0px;
			}
		}
		.social-connect {
			margin-top:36px;
			h3{
				margin-bottom:24px;
			}
		}
	}	
}

