<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container step step2">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="steps current-third">
            <div class="number number-1">1<small>st</small></div>
            <div class="number number-2">2<small>nd</small></div>
            <div class="number number-3">3<small>rd</small></div>
            <div class="number number-4">4<small>th</small></div>
            <div class="number number-5">5<small>th</small></div>
          </div>
          <h3><strong>LOGIN</strong> OR <strong>SIGN UP</strong> TO<br />  <em>CONFIGURE YOUR NOTIFICATIONS</em></h3>
 		  <div class="row">
		      <div class="col-md-10 col-md-offset-1 why">
	         	 <p>
	         	 	<strong>Why Signup?</strong>
	         	 	 <big>Because it's <strong>Free</strong>.</big>
	         	 	 And you won't just get notified, you also can come back to see a history of all your checks to see your website progress, and change your checks as you need.</p>
	          </div>
          </div>
          <div class="form-group">
             <div class="row">
             <div class="log-actions">
            	 <div class="col-md-4 col-md-offset-1">
            	 	<button class="btn  btn-primary  form-control" type="submit" ng-click="showLogin()"> Login</button>
            	 </div>
            	  <div class="col-md-2 text-center">
            	  	or
            	 </div>
            	  <div class="col-md-4 ">
            	  <button class="btn btn-primary  form-control" type="submit" ng-click="showSignUp()"> Sign Up</button>
            	 </div>
            </div>
	             <div id="login-form" class="col-md-6  col-md-offset-3 hide">
	               <h4>Login</h4>
				    <div class="col-sm-12">
				      <form class="form1" name="form1" ng-submit="login(form1)" novalidate>

				        <div class="form-group">
				          <label>Email</label>

				          <input type="email" name="email" class="form-control" ng-model="userlogin.email" required>
				        </div>

				        <div class="form-group">
				          <label>Password</label>

				          <input type="password" name="password" class="form-control" ng-model="userlogin.password" required>
				        </div>

				        <div class="form-group has-error">
				          <p class="help-block" ng-show="form1.email.$error.required && form1.password.$error.required && submitted">
				             Please enter your email and password.
				          </p>
				          <p class="help-block" ng-show="form1.email.$error.email && submitted">
				             Please enter a valid email.
				          </p>

				          <p class="help-block">{{ loginerrors.other }}</p>
				        </div>

				        <div>
				          <button class="btn btn-lg btn-login btn-primary" type="submit">
				            Login
				          </button>
				        </div>
				      </form>
				    </div>	             	
				  </div>
	             <div id="signup-form" class="col-md-6  col-md-offset-3 hide">
	               <h4>Sign Up</h4>
				    <div class="col-sm-12">
	             	<form class="form2" name="form2" ng-submit="register(form2)" novalidate>

				        <div class="form-group" ng-class="{ 'has-success': form2.name.$valid && submitted,
				                                            'has-error': form2.name.$invalid && submitted }">
				          <label>Name</label>

				          <input type="text" name="name" class="form-control" ng-model="usersignup.name"
				                 required/>
				          <p class="help-block" ng-show="form2.name.$error.required && submitted">
				            A name is required
				          </p>
				        </div>

				        <div class="form-group" ng-class="{ 'has-success': form.email.$valid && submitted,
				                                            'has-error': form.email.$invalid && submitted }">
				          <label>Email</label>

				          <input type="email" name="email" class="form-control" ng-model="usersignup.email"
				                 required
				                 mongoose-error/>
				          <p class="help-block" ng-show="form2.email.$error.email && submitted">
				            Doesn't look like a valid email.
				          </p>
				          <p class="help-block" ng-show="form2.email.$error.required && submitted">
				            What's your email address?
				          </p>
				          <p class="help-block" ng-show="form2.email.$error.mongoose">
				            {{ signuperrors.email }}
				          </p>
				        </div>

				        <div class="form-group" ng-class="{ 'has-success': form2.password.$valid && submitted,
				                                            'has-error': form2.password.$invalid && submitted }">
				          <label>Password</label>

				          <input type="password" name="password" class="form-control" ng-model="usersignup.password"
				                 ng-minlength="3"
				                 required
				                 mongoose-error/>
				          <p class="help-block"
				             ng-show="(form2.password.$error.minlength || form2.password.$error.required) && submitted">
				            Password must be at least 3 characters.
				          </p>
				          <p class="help-block" ng-show="form2.password.$error.mongoose">
				            {{ signuperrors.password }}
				          </p>
				        </div>
				  
				        <div>
				          <button class="btn btn-lg btn-login btn-primary" type="submit">
				            Sign up
				          </button>
				        </div>

				       
				      </form>
				      </div>
				  
	             </div>

	             <div class="social-connect col-md-12">
	             		<h3>Or Connect with: </h3>
	             		<div class="social-in col-md-8 col-md-offset-2">
	             	    <div class="text-center">
				          <a class="btn btn-facebook" href="" ng-click="loginOauth('facebook')">
				            <i class="fa fa-facebook"></i>  Facebook
				          </a>
				          <a class="btn btn-google-plus" href="" ng-click="loginOauth('google')">
				            <i class="fa fa-google-plus"></i> Google+
				          </a>
				          <a class="btn btn-twitter" href="" ng-click="loginOauth('twitter')">
				            <i class="fa fa-twitter"></i>  Twitter
				          </a>
				        </div>
				        </div>
	             </div>
             </div>
          </div>
        </div>
      </div>
     
  </div>
