<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container step configure">
      <div class="row">
      	<div class="col-md-12">
      		<div class="steps current-fourth">
	            <div class="number number-1">1<small>st</small></div>
	            <div class="number number-2">2<small>nd</small></div>
	            <div class="number number-3">3<small>rd</small></div>
	            <div class="number number-4">4<small>th</small></div>
	            <div class="number number-5">5<small>th</small></div>
         	</div>
        </div>
     </div> 
       <div class="row">
      	<div class="col-md-12">   
         	<h2>FOLLOW THIS LAST STEPS TO CONFIGURE YOUR NOTIFICATIONS</h2>
         	
         	<!--div class="panel panel-default">
  <div class="panel-body"-->
  

  			<div class="panel panel-default">
				<div class="panel-heading">
         			A - Confirm your  test options
         		</div>
         	 	<div class="panel-body panel-confirm-options">
         			<div class="row">
         				<div class="col-md-4">
         					<p>Choose a test type</p>
         					<div class="list-group">
							  <a href="javascript:;" class="list-group-item active" ng-class="{'active': test.opts.pagegroup === 'website' }" ng-click="changeOption('optype','website')">
							    <h4 class="list-group-item-heading">Website</h4>
							    <p class="list-group-item-text">Test up to 18 pages of your website for free.</p>
							  </a>
							  <a href="javascript:;" class="list-group-item"  ng-class="{'active': test.opts.pagegroup === 'home' }" ng-click="changeOption('optype','home')">
							    <h4 class="list-group-item-heading">Homepage</h4>
							    <p class="list-group-item-text">Test just your Homepage.</p>
							  </a>
							  <a href="javascript:;" class="list-group-item disabled"  ng-class="{'active': test.opts.pagegroup === 'demmand' }" ng-click="changeOption('optype','full',true)">
							    <h4 class="list-group-item-heading">Complete Website</h4>
							    <p class="list-group-item-text">Test up 100 pages, including subdomains.</p>
							  </a>
							</div>
         				</div>
         				<div class="col-md-4">
         					<p>Choose a period</p>
         					<div class="list-group">
							  <a href="javascript:;" class="list-group-item" ng-class="{'active': test.opts.period === 'daily' }" ng-click="changeOption('opperiod','daily')">
							    <h4 class="list-group-item-heading">Daily</h4>
							    <p class="list-group-item-text">Run your test Daily</p>
							  </a>
							  <a href="javascript:;" class="list-group-item"  ng-class="{'active': test.opts.period === 'weekly' }" ng-click="changeOption('opperiod','weekly')">
							    <h4 class="list-group-item-heading">Weekly</h4>
							    <p class="list-group-item-text">Run your test every week</p>
							  </a>
							  <a href="javascript:;" class="list-group-item disabled"  ng-class="{'active': test.opts.period === 'demmand' }" ng-click="changeOption('opperiod','demmand',true)">
							    <h4 class="list-group-item-heading">On Demmand</h4>
							    <p class="list-group-item-text">Connect with GitHub/Bitbucket, or a direct API call</p>
							  </a>
							</div>
         				</div>
         				<div class="col-md-4">
         					<p>Choose your notifications</p>
         					<div class="list-group">
							  <a href="javascript:;" class="list-group-item"  ng-class="{'active': test.opts.notification === 'email' }" ng-click="changeOption('opnotification','email')">
							    <h4 class="list-group-item-heading">Email</h4>
							    <p class="list-group-item-text">Get emails notification directly to your inbox.</p>
							  </a>
							  <a href="javascript:;" class="list-group-item disabled" ng-class="{'active': test.opts.notification === 'sms' }" ng-click="changeOption('opnotification','sms',true)">
							    <h4 class="list-group-item-heading">SMS</h4>
							    <p class="list-group-item-text">Use this if you need to get notifications right away.</p>
							  </a>
							  <a href="javascript:;" class="list-group-item disabled"  ng-class="{'active': test.opts.notification === 'mobile' }" ng-click="changeOption('opnotification','mobile',true)">
							    <h4 class="list-group-item-heading">Mobile App/Chrome Plugin</h4>
							    <p class="list-group-item-text">And many more options to come.</p>
							  </a>
							</div>
         				</div>
         			</div>

         		</div>
         	</div>



            <div class="panel panel-default">
            <div class="panel-heading">
                 B - Change the pages
               </div>
               <div class="panel-body panel-confirm-pages">

               	<div class="row">
               		<div class="col-md-12">
               			<div class="onwebsite" ng-class="{ onlimit: onPageLimit  }" ng-show="test.opts.pagegroup === 'website'">
               				<h3>Choose up to <em>18</em> urls to test, <em>a lot more, just for signin up</em></h3>
               				<ul>
               					<li class="row" ng-repeat="page in test.opts.pages" ng-class="{'home':page.order == 1}" ng-hide="page.removed">
                              <div class="form-group"> 
               						<div class="col-md-1 act">
                                       <span class="num">{{page.order}}</span>
                                        <span class="valid state" ng-show="page.validated"><i class="fa fa-check"></i></span>
                                    <span class="invalid state"  ng-show="!page.validated"><i class="fa fa-remove"></i></span>
                                 </div>
                                 <div class="col-md-9">
                                    <label>{{page.title}}</label>
                                    <input ng-change="page.validated = page.url === page.originalurl" type="text" ng-disabled="page.blocked" class="form-control"  ng-model="page.url" value="page.url"/> 
                                 </div>
                                
                                 <div class="col-md-2 act actions">
                                    <button class="add btn btn-default" ng-click="addOptionsPageAfterThis()"><i class="fa fa-plus"></i></button>
                                    <button class="remove btn btn-default" ng-click="removeOptionPage()"><i class="fa fa-minus"></i></button>
                                  
                              
                                 </div>
                                 </div>
               					</li>
               		
               				</ul>
               				<input type="button" class="btn btn-primary" value="Validate & Confirm" />
               			</div>
               			<div class="onhome" ng-show="test.opts.pagegroup === 'home'">
               				<h3>The test will use your home url:</h3>
               				<div class="row">
                              <div class="form-group"> 
               					    <div class="col-md-12">
                                    <label>{{test.opts.pages[0].title}}</label>
               							<input type="text" class="form-control" disabled="disabled" ng-model="test.opts.pages[0].url" /> 
               						</div>	
                              </div>
               				</div>
               				
               			</div>
               		</div>
               	</div>

               </div>
            </div>

            <div class="panel panel-default">
               <div class="panel-heading">
                 C - Change when the test will be triggered and emails will be sent
               </div>
               <div class="panel-body panel-confirm-time">
                  <div class="row days"  ng-hide="test.opts.period != 'weekly'">
                     <h3 ng-show="test.opts.period == 'daily'">The test will be run each day at</h3>
                     <div class="col-md-2">
                        <a href="javascript:;" ng-class="{'selected': test.opts.dateopts.day == 0}" ng ng-click="changeOptionDay(0)">
                           <h4>Monday</h4>
                        </a>
                     </div>
                     <div class="col-md-2">
                        <a href="javascript:;" ng-class="{'selected': test.opts.dateopts.day == 1}" ng-click="changeOptionDay(1)">
                           <h4>Tuesday</h4>
                        </a>
                     </div>
                     <div class="col-md-2">
                        <a href="javascript:;" ng-class="{'selected': test.opts.dateopts.day == 2}" ng-click="changeOptionDay(2)">
                           <h4>Wednesday</h4>
                        </a>
                     </div>
                     <div class="col-md-2">
                        <a href="javascript:;" ng-class="{'selected': test.opts.dateopts.day == 3}" ng-click="changeOptionDay(3)">
                           <h4>Thursday</h4>
                        </a>
                     </div>
                     <div class="col-md-2">
                        <a href="javascript:;" ng-class="{'selected': test.opts.dateopts.day == 4}" ng-click="changeOptionDay(4)">
                           <h4>Friday</h4>
                        </a>
                     </div>
                     <div class="col-md-1">
                        <a href="javascript:;" ng-class="{'selected': test.opts.dateopts.day == 5}" ng-click="changeOptionDay(5)">
                           <h4>Sat</h4>
                        </a>
                     </div>
                     <div class="col-md-1">
                        <a href="javascript:;" ng-class="{'selected': test.opts.dateopts.day == 6}" ng-click="changeOptionDay(6)">
                           <h4>Sun</h4>
                        </a>
                     </div>
                  </div>


                  <div class="row time">
                     <h3 ng-show="test.opts.period == 'daily'">The test will be run each day at</h3>
                     <div class="col-md-5 col-md-offset-3">
                        <select  class="form-field col-md-12" ng-model="test.opts.dateopts.time.hours" ng-options="obj.value as obj.label for obj in hours">
                           
                        </select>
                     </div>
                     <div class="col-md-1">
                        <select  class="form-field col-md-12" ng-model="test.opts.dateopts.time.GMToffset" ng-options="obj.value as obj.label for obj in gmts">
                           
                        </select>
                     </div>
                  </div>
         	
         	   </div>
            </div>

            <div class="panel panel-default">
               <div class="panel-heading">
                 D - Configure the <strong>thresholds</strong> for your notifications
               </div>
               <div class="panel-body panel-confirm-thresholds">
                  <h4>PageSpeed (Desktop/Mobile)</h4>
                  <div class="row">
                     <h3>Alert me if any of the pages gets a PageSpeed Score, Desktop or Mobile, less or equal than <select><option ng-repeat="item in speedAllScores ">{{item}}</option></select> </h3>
                  </div>
               </div>
            </div>
         
         	  
  <!--/div>
</div-->
         	SEND
         </div>
     </div> 
      	
      
</div>