.step.configure{
	h2{
		font-family: Podkova,serif;
	    word-spacing: 0em;
	  	text-align:center;
	    font-size: 32px;
	    color:$brand-primary;
	    font-weight:700;
	}
	.panel-confirm-options{
		.col-md-4 > p{
			
		}
		.list-group{
			.list-group-item{
				font-family:sans-serif;
				text-align:left;
				text-transform:auto;
				.list-group-item-heading{
					font-family:sans-serif;
				}
				.list-group-item-text{
					font-family:sans-serif;
					font-size:12px;
					text-transform:none;
				}
			}
		}
	    .btn{
		   	display:block;
		   	clear:both;
		   	margin:10px auto;
		   	width:320px;
		   	max-width:80%;
	   	}    
	}
	.panel-confirm-pages{
		h3{
			font-family: Podkova,serif;
		    word-spacing: 0em;
		  	text-align:center;
		    font-size: 30px;
		    color:$brand-primary;
		    font-weight:400;
		    em{
		    	font-style:normal;
		    	font-weight:700;
		    }
		}
		.onwebsite{
				&.onlimit{
					.add{
						display:none;
					}
				}
			ul{
				padding:0;
				margin: 24px 0 0 0;
				oveflow:hidden;

				
				li:first-child{
					border-top:1px solid #eee;
				}

				li{
				    &.ng-hide-remove {
					  transition: 0.5s linear all;
					}

					.act{
						padding-top:22px;
					}
					&.home{
						.add{
							visibility:hidden;
						}
					}

					list-style-type:none;
					font-family:sans-serif;
					text-align:left;
					text-transform:auto;
					padding:8px 0px;
					border-bottom:1px solid #eee;

					.num{
						line-height:36px;
						font-size:24px;
						color:#999;
						width:32px;
						float:left;
						text-align:center;
					}
					.btn{
						  margin-top: 0;
						  margin-bottom: 0;
						  margin-left:4px;
						  margin-right:4px;
						  padding: 6px 6px;
						  width: 32px;
						  height: 32px;
						  line-height: 22px;
						  border-radius: 50%;
						  float: left;
						  clear:none;
						  opacity:0.4;
						  &:hover{
						  	opacity:1;
						  }
					}
					.state{
						font-size:24px;
						float:right; 
						&.valid{
							color:green;
						}
						&.invalid{
							color:red;
						}
					}
				}
			}
		}
	    .btn{
		   	display:block;
		   	clear:both;
		   	margin:10px auto;
		   	width:320px;
		   	max-width:80%;
	   	}    
	}
	.panel-confirm-time{
		h3{
			font-family: Podkova,serif;
		    word-spacing: 0em;
		  	text-align:center;
		    font-size: 30px;
		    color:$brand-primary;
		    font-weight:400;
		    em{
		    	font-style:normal;
		    	font-weight:700;
		    }
		}
		.days{
			a{
				  border: 1px solid #eee;
				  margin-bottom: 30px;
				  overflow: hidden;
				  display: block;
				  text-decoration:none;
				&:hover,&.selected{
					background-color:$brand-primary;
					h4{
						color:#fff;
					}
				}

				h4{
					font-family: Podkova,serif;
				    word-spacing: 0em;
				  	text-align:center;
				    font-size: 22px;
				    color:$brand-primary;
				    font-weight:400;
				}
			}
		}
	}
}